<!DOCTYPE html>
<html lang="en" ng-app = "accountApp">
<head>
    <meta charset="UTF-8">
    <title>Bunch of Movies</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Bunch of Movies</a>
            </div>
        </div>
    </nav>
    
    <!--Example 1: ng-hide, ng-model
    <div ng-hide="isHidden">
    Name: <input type="text" ng-model="name"/>{{name}}
    </div>
    Hide div: <input type="checkbox" ng-model="isHidden"/>
    -->
     
    <!-- Example 2: ng-init, ng-click
    <div ng-init ="name='john'">
    	<div ng-hide="isHidden">
    	Name: <input type="text" ng-model="name"/>{{name}}
    	<br/>
    	<button ng-click="name='Jane'">Change name</button>
    </div>
     -->
     
  	Hide Table: <input type="checkbox" ng-model="hiddenTable"/>
  	
    <div class = "table" ng-controller = "movieController as movieCtrl">
    	
    	<h3><span>Real Movies</span></h3>
    	<span class="label">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span><br><br>	 
    	<table class="table table-striped">
    		<thead>
    		<tr>
    			<th>
    			<a href="#" ng-click="orderByField='id'; reverseSort = !reverseSort">
    			Id <span ng-show="orderByField == 'id'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          		</a></th>
    			<th><a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
    			Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          		</a></th>
    			<th><a href="#" ng-click="orderByField='genre'; reverseSort = !reverseSort">
    			Genre <span ng-show="orderByField == 'genre'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          		</a></th>
    			<th><a href="#" ng-click="orderByField='rating'; reverseSort = !reverseSort">
    			Rating <span ng-show="orderByField == 'rating'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          		</a></th>
    		</tr>
    		</thead>
    		<tbody>
    		<tr ng-repeat="movie in movieCtrl.movies | orderBy:orderByField:reverseSort">
    			<td>{{movie.id}}</td>
    			<td>{{movie.name | uppercase}}</td>
    			<td>{{movie.genre}}</td>
    			<td>{{movie.rating}}</td>
    		</tr>
    		</tbody>
    	</table>
    	
    	   
    </div>
    
    
    
    
	<link rel="stylesheet" href="scripts/bootstrap.min.css"> 
    <script src="scripts/jquery-2.1.4.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ui-router.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    
    <script src="app/app.js"></script>
    <script src="app/controllers/movie-controller.js"></script>
    </div>
</body>
</html>